# Regression

# Boston Housing Price Prediction

In [4]:
import numpy as np
import pandas as pd
import sklearn

In [6]:
print(np.__version__)
print(pd.__version__)
import sys
print(sys.version)
print(sklearn.__version__)

1.25.2
1.5.3
3.11.4 (main, Jul  5 2023, 08:40:20) [Clang 14.0.6 ]
1.2.2

In [7]:
df = pd.read_csv('data//housing.data', delim_whitespace=True, header=None)

In [8]:
df.head

<bound method NDFrame.head of           0     1      2   3      4      5     6       7   8      9     10  \
0    0.00632  18.0   2.31   0  0.538  6.575  65.2  4.0900   1  296.0  15.3
1    0.02731   0.0   7.07   0  0.469  6.421  78.9  4.9671   2  242.0  17.8
2    0.02729   0.0   7.07   0  0.469  7.185  61.1  4.9671   2  242.0  17.8
3    0.03237   0.0   2.18   0  0.458  6.998  45.8  6.0622   3  222.0  18.7
4    0.06905   0.0   2.18   0  0.458  7.147  54.2  6.0622   3  222.0  18.7
..       ...   ...    ...  ..    ...    ...   ...     ...  ..    ...   ...
501  0.06263   0.0  11.93   0  0.573  6.593  69.1  2.4786   1  273.0  21.0
502  0.04527   0.0  11.93   0  0.573  6.120  76.7  2.2875   1  273.0  21.0
503  0.06076   0.0  11.93   0  0.573  6.976  91.0  2.1675   1  273.0  21.0
504  0.10959   0.0  11.93   0  0.573  6.794  89.3  2.3889   1  273.0  21.0
505  0.04741   0.0  11.93   0  0.573  6.030  80.8  2.5050   1  273.0  21.0

         11    12    13
0    396.90  4.98  24.0
1    396.90  9.14  21.6
2    392.83  4.03  34.7
3    394.63  2.94  33.4
4    396.90  5.33  36.2
..      ...   ...   ...
501  391.99  9.67  22.4
502  396.90  9.08  20.6
503  396.90  5.64  23.9
504  393.45  6.48  22.0
505  396.90  7.88  11.9

[506 rows x 14 columns]>

In [9]:
col_name = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

In [10]:
df.columns = col_name

In [11]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

# Exploratory Data Analysis (EDA)